$dark-bg: lighten(black, 15%);
$dark-bg-highlight: lighten(black, 28%);
$dark-bg-light: lighten(black, 24%);


$dark-text: lighten(black, 65%);
$dark-text-title: lighten(black, 75%);
$dark-text-subtitle: lighten(black, 45%);

$dark-border: lighten(black, 30%);
$dark-border-light: lighten(black, 60%);


@media (prefers-color-scheme: dark) {
  body{
    color: white;
    background-color: $dark-bg;
  }

  .container{
    background-color: $dark-bg;
  }

  .form{
    .form-item{
      label{
      }
      input{
        color: white;
        background-color: $dark-bg;
        border: 1px solid $color-border;
      }
    }
  }
  .btn{
    background-color: $dark-bg;
    color: white;
  }
}
