@import "variables";
@import "reset";
@import "utility";
@import "gutter";

body{
  font-size: 18px;
  background-color: $bg-highlight;
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
}

.container{
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}


.form{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  .form-item{
    align-items: center;
    display: flex;
    margin-right: 20px;
    label{
      display: block;
      margin-right: 5px;
    }
    input{
      display: block;
      border: 1px solid $color-border;
      padding: 5px 8px;
      @include border-radius(3px);
    }
  }
}

.result{
  font-size: 40px;
}

.btn{
  width: 100px;
  border: 1px solid $color-border;
  padding: 5px 10px;
  background-color: white;
  @extend .btn-like;
  @include border-radius(3px);
}

@media (max-width: 450px) {
  .container{
    flex-flow: column nowrap;
  }
  .form{
    .form-item{
      width: 100%;
      display: flex;
      margin-bottom: 20px;
      margin-right: 0;
      label{
        margin-right: 0;
        flex-shrink: 0;
        width: 50%;
        text-align: left;
      }
      input{
        flex-shrink: 0;
        width: 50%;
        text-align: right;
      }
    }
  }
}


@import "dark";
